<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBOQJwj-LfxG2yqoSxjoel8VDmVbvOb758</string>
	<key>GCM_SENDER_ID</key>
	<string>480594779038</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoFbB5Exp</string>
	<key>PROJECT_ID</key>
	<string>todo-fb-b5-exp</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-fb-b5-exp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:480594779038:ios:8cfd152b2bca404713148f</string>
</dict>
</plist>